<div class="board_title">
    <h1>Schedule</h1>
</div>

<div class="date_today">
    <%# 後で曜日の色を土、日の場合は変える処理をする %>
        <%= @this_year %>年
            <%= @this_month %>月
                <%= @this_day %>日 (<span class="wday">
            <%= @this_wday%>
          </span>)
</div>


<%= link_to '戻る' ,root_path,id:"back" %>