<div class="schedule_title">
  <h1>授業新規登録</h1>
</div>

<div class="schedlues_wrapper">
  <div class="new_schedule_wrapper">
    <div class="date_today schedule">
      <%= @this_year %>年<%= @this_month %>月
      <div class="date_next">
        <%= link_to "#{@this_month+1}月へ", new_nextschedule_path, method: :get %>
      </div>
    </div>

    <table border="1" id="schedule_table">
      <thead>
        <tr class="sdate_name">
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th><span id="sat">土</span></th>
          <th><span id="sun">日</span></th>
        </tr>
      </thead>

      <div class="form_wrapper">
        <%= form_with model: @sdate_schedule, url: schedules_path, class: 'schedule_form', local: true do |f| %>
        <div class="input-wrapper">
          <span
            class="input-subject">Subject</span><%= f.text_field :subject, class:"schedule-input text", placeholder:"講座名を入力してください", maxlength:"20", autofocus:"true" %>
        </div>
        <%= f.date_field :sdate, class:'schedule-input',id:"choose-date" %>
        <div class="input-wrapper">
          <div class="schedule-input-time">
            <span class="input-start">Start Time</span><span id="edit_start_time"><%= f.time_select :start_time%></span>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="schedule-input-time">
            <span class="input-end">End Time</span><span id="edit_end_time"><%= f.time_select :end_time%></span>
          </div>
        </div>
        <%= f.submit "Submit" ,class:"schedule-input",id:"submit-btn"%>
        <% end %>
      </div>

      <tbody>
        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>

        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period2.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>

        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period3.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>

        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period4.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>


        <% if (@last_day4 + 1).month == @this_month %>
        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period5.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>

        <% if (@last_day5 + 1).month == @this_month %>
        <tr>
          <% 7.times do |x| %>
          <td class="schedule-row">
            <% @week_period6.each do |period| %>
            <% if x == (period -1).wday %>
            <span id="period_date">
              <%= period.day %>日
            </span>

            <% @schedule_all.each do |schedule| %>
            <% if period == schedule.sdate.sdate %>
            <div class="display-schedule-wrapper"><button
                class="schedule-button"></button><%= link_to schedule.subject, edit_schedule_path(schedule.id), target: "_new",class: "display-schedule",method: :get %>
            </div>
            <div class="specify-schedule"><%= schedule.start_time.to_s(:time) %>〜<%= schedule.end_time.to_s(:time) %>
            </div>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>


</div>
<%= render "shared/schedule_footer"%>