<div class="schedule_title">
    <h1>Schedule Board</h1>
</div>

<div class="date_today">
    <%= @this_year %>年<%= @this_month %>月
</div>

<table border="1" id="sdate_table">
    <thead>
        <tr class="sdate_name">
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th><span id="sat">土</sapn></th>
            <th><span id="sun">日</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% 7.times do |x| %>
            <td>
            <% @week_period.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
             <%= period.day %>日 
            </span>



            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>

        <tr>
        <% 7.times do |x| %>
            <td>
            <% @week_period2.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
             <%= period.day %>日 
            </span>
            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>

        <tr>
        <% 7.times do |x| %>
            <td>
            <% @week_period3.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
             <%= period.day %>日 
            </span>
            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>

        <tr>
        <% 7.times do |x| %>
            <td>
            <% @week_period4.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
            <%= period.day %>日 
            </span>
            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>

        <tr>
        <% 7.times do |x| %>
            <td>
            <% @week_period5.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
             <%= period.day %>日 
            </span>
            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>

    
        <% if Random.rand(@week_period6).month == @this_month %>
        <% 7.times do |x| %>
            <td>
            <% @week_period6.each do |period| %> 
            <% if x == (period -1).wday %>
            <span id="period_date">
             <%= period.day %>334日 
            </span>
                
            <% @sdate_all.each do |kdate| %>
                <% if period == kdate.sdate %>
                <%= @schedule_all %>
                <% end %>
                <% end %>

            <% end %>
            <% end %>
            </td>
        <% end %>
        </tr>
        <% end %>
</tbody>
</table>